{% extends 'base.html' %}

{% block titulo_pagina %}
    Inicio
{% endblock titulo_pagina %}

{% block contenido_principal %}

    <!-- Fila de textos -->
    <div class="row d-flex justify-content-center">

        <div class="col-12 d-flex justify-content-center mt-5">

            <h1 class="d-block">Carrito de compra</h1>

        </div>


    </div>

    <!-- Fila de tarjetas de prductos -->
    <div class="row d-flex justify-content-center">

        <div class="col-7 mt-5">
            <ul class="list-group">

                <!-- Elemento de carrito -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <img src="https://www.avalco.cl/3650-thickbox_default/escoba5costuras.jpg" style="width: 50%;">
                        </div>
                        <div class="col-9">
                            <h4>Escoba</h4>
                            <p>Escoba de alta calidad mágica que barre y limpia todo.</p>
                            <p><strong>Cantidad: </strong> 2 - <strong>Valor: </strong> $5.000</p>
                        </div>
                    </div>
                </li>

                <!-- Elemento de carrito -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <img src="https://www.avalco.cl/3650-thickbox_default/escoba5costuras.jpg" style="width: 50%;">
                        </div>
                        <div class="col-9">
                            <h4>Escoba</h4>
                            <p>Escoba de alta calidad mágica que barre y limpia todo.</p>
                            <p><strong>Cantidad: </strong> 2 - <strong>Valor: </strong> $5.000</p>
                        </div>
                    </div>
                </li>

              </ul>
        </div>

    </div>

{% endblock contenido_principal %}



    