{% extends 'base.html' %}

{% block titulo_pagina %}
    Inicio
{% endblock titulo_pagina %}

{% block contenido_principal %}

    <!-- Fila de textos -->
    <div class="row d-flex justify-content-center">

        <div class="col-12 d-flex justify-content-center mt-5">

            <h1 class="d-block">Bienvenido</h1>

        </div>

        <div class="col-12 d-flex justify-content-center">
            <p>a la mejor tienda en línea</p>
        </div>

        <div class="col-8 mt-3 d-flex justify-content-center">
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ver categorías
                </button>
                <ul class="dropdown-menu">
                    {% for categoria in categorias %}
                        <li><a class="dropdown-item" href="/categorias/{{ categoria.id }}">{{ categoria.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <!-- Alerta de producto agregado -->
    {% if alerta_producto %}
    <div class="row d-flex justify-content-center mt-5 mb-0">
        <div class="col-5">
            <div class="alert alert-success" role="alert">
                ¡Producto añadido al carrito exitosamente!
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Fila de tarjetas de prductos -->
    <div class="row d-flex justify-content-center">

        <div class="col-7 mt-3 mb-5">

            <div class="row row-cols-4">
                {% for producto in productos %}
                <div class="col">
                    <div class="card d-flex flex-column h-100">

                        <img src="{{ producto.imagen.url }}" style="max-height: 130px;" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text text-center"><strong class="text-success">${{ producto.valor }}</strong></p>
                        </div>

                        {% if request.user.is_authenticated %}
                        <div class="card-footer">

                            <div class="d-flex justify-content-center">
                                <a href="/mi-carrito/agregar-prod/{{ producto.id }}/" class="btn btn-success">Añadir al carrito</a>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock contenido_principal %}



    